<div class="fear">
	<p class="fear__text description-title">Страх</p>
	<div class="fear__icons">
		<img style="width:1px; height: 1px;" data-src-img="img/icons/pulse-fill.svg" src="@img/load.png" alt="fear icon">
		<img style="width:1px; height: 1px;" data-src-img="img/icons/pulse-fill.svg" src="@img/load.png" alt="fear icon">
		<img style="width:1px; height: 1px;" data-src-img="img/icons/pulse-fill.svg" src="@img/load.png" alt="fear icon">
		<img style="width:1px; height: 1px;" data-src-img="img/icons/pulse-stroke.svg" src="@img/load.png" alt="fear icon">
		<img style="width:1px; height: 1px;" data-src-img="img/icons/pulse-stroke.svg" src="@img/load.png" alt="fear icon">
	</div>
</div>